<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location_group.name %>
</p>
<p>
  <b>X-Coordinate:</b>
  <%= @location_group.xcoordinate %>
</p>
<p>
  <b>Y-Coordinate:</b>
  <%= @location_group.ycoordinate %>
</p>

<%= link_to 'Locations', locations_path %>
