<%= form_for(@drone_attack) do |f| %>
    <p>
      <%= f.label :incident_year %><br />
      <%= f.text_field :incident_year %>
    </p>
    <%= f.fields_for :reference_links do |builder|  %>
    <p>
      <%= builder.label :url, "URL" %><br/>
      <%= builder.text_field :url %>
    </p>
    <p>
      <%= builder.label :publisher, "Publisher" %>
      <%= f.collection_select(:location_id, Publisher.all, :id, :name) %>
    </p>
    <% end %>
    <p><%= f.submit "Submit" %></p>
<% end %>
