<%= form_for(@drone_attack) do |f| %>
    <% if @drone_attack.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@drone_attack.errors.count, "error") %> prohibited this drone_attack from being saved:</h2>

          <ul>
            <% @drone_attack.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h3>ID: <%= @drone_attack.id %></h3>
    <h3>City: <%= @drone_attack.location.city %></h3>
    <h3>Province: <%= @drone_attack.location.province %></h3>
    <h3>Information: <%= @drone_attack.location.information %></h3>

    <div class="field">
      <%= f.label :location %><br />
      <%= f.collection_select(:location_id, Location.all, :id, :city) %>
    </div>
    <%= f.fields_for :location do |builder|  %>
        <p>
          <%= builder.label :location_group, "Location Group" %><br/>
          <%= builder.collection_select(:location_group_id, LocationGroup.all, :id, :name) %>
        </p>

    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>