<h1>Listing drone_attacks</h1>

<div><%= link_to 'Create New Drone Attack', new_drone_attack_path %></div>
</br>

<table>
  <tr>
    <th>Id</th>
    <th>City</th>
    <th>Province</th>
    <th>LocationInfo</th>
    <th>LocationGroup</th>
    <th>X-Coordinate</th>
    <th>Y-Coordinate</th>
    <th></th>
  </tr>

  <% @drone_attacks.each do |drone_attack| %>
      <tr>
        <td><%= drone_attack.id %></td>
        <td><%= drone_attack.location.city %></td>
        <td><%= drone_attack.location.province %></td>
        <td><%= drone_attack.location.information %></td>
        <td><%= drone_attack.location.location_group.name %></td>
        <td><%= drone_attack.location.location_group.xcoordinate %></td>
        <td><%= drone_attack.location.location_group.ycoordinate %></td>
        <td><%= link_to 'Edit Location', edit_location_path(drone_attack.location) %></td>
        <td><%= link_to 'Delete', drone_attack, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br />

