= form_for(@drone) do |f|
  - if @drone.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@drone.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @drone.errors.full_messages.each do |msg|
        %li= msg
  

  .actions
    = f.submit
