<%= form_for(@location) do |f| %>
    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :province %><br />
      <%= f.text_field :province %>
    </div>
    <div class="field">
      <%= f.label :information %><br />
      <%= f.text_field :information %>
    </div>
    <div>
      <%= f.label :location_group %><br />
      <%= f.collection_select(:location_group_id, LocationGroup.all, :id, :name) %>      <%= link_to 'Create New location_group', new_location_group_path %><br/>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>