<%= form_for(@location) do |f| %>
    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :province %><br />
      <%= f.text_field :province %>
    </div>
    <div class="field">
      <%= f.label :information %><br />
      <%= f.text_field :information %>
    </div>
    <div class="field">
      <%= f.label :xcoordinate %><br />
      <%= f.text_field :xcoordinate %>
    </div>
    <div class="field">
      <%= f.label :ycoordinate %><br />
      <%= f.text_field :ycoordinate %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>